.ul {
  display: flex;
  list-style: none;
  gap: 4px;
  justify-content: center;
  height: 10px;
  border: 1px solid;
  width: fit-content;
  height: 100px;
  background-color: rgb(19, 19, 19);
  padding: 8px;
  border: 1px solid rgb(74, 73, 71);
  border-radius: 16px;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.rubbish {
  border-left: 1px solid rgb(74, 73, 71);
}
