.header {
  background-color: rgb(181, 181, 181);
}
.ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 2px 20px 3px 20px;
}
.ul > li {
  color: black;
  font-size: small;
  align-self: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
